<div class="row">
    <div class="col=sm-6 col-sm-offset-3">
        <a href="{{post.url}}" class="lead">{{pos.title}}</a>
        <p>{{post.sumary}}</p>
        <form action="/posts/{{post._id}}/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
          <div class="text-right">
            <button type="summit" class="btn btn-primary">Save</button>
          </div>  
          {{#each post.comments}}
            {{this}}
            {{/each}}
        </form>
        {{#each post.commets}}
        <p>{{this.content}}</p>
        {{/each}}
    </div>
</div>