<div class="container">
    <div class="row">
        <div class="col-small-4">
            <div class="card" style="width: 18rem;">
                {{!-- save image seperately, not in user sql db --}}
                {{!-- <img src="{{image}}" class="card-img-top"> --}}
                <div class="card-body">
                    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
                </div>
            </div>
        </div>
    </div>
    {{!-- update status button --}}
    <form class="form-inline my-2 my-lg-0">
        <a href="/profile/post">
            <button class="btn btn-outline-success my-2 my-sm-0 createStatusBtn" type="submit">Update status</button>
        </a>
    </form>

    {{!-- status history cards --}}
    {{#each status as |status|}}
    <div class="card mt-4">
        <p>{{status.title}}</p>
        <div class="col-md-7">
            <p>{{status.text}}</p>
        </div>
        <p>{{format_date status.date_created}}</p>
    </div>
    {{/each}}
</div>